.Login-form
{
  width:500px;
  height:350px;
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%, -50%);
  background:#fff;
  padding:20px;
  border-radius:10px;
} 
.footer
{
  position:absolute;
  width:100%;
  bottom:0;
 
}
.Login-footer{
position:absolute;
bottom:0;
width:100%;
}